*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.header{
    text-align: center;
    padding: 40px 20px 20px 20px;
}

.header h1{
    color: #2c76ab;
    font-weight: 700;
    margin-bottom: 30px;
}

.header p{
    font-weight: 350;
    margin-bottom: 30px;
    font-style: italic;
}

.container{
    padding: 10px 50px;
}

.item{
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 0px #8787;
    position: relative;
    overflow: hidden;
}

.head,.content,.foot{
    padding: 20px;
}

.head{
    background-color:#f8f8f8;
    border-radius: 13px 13px 0 0;
    color: #0980e8;
    transition: all 0.3s ease;
    cursor: pointer;
}

.head:hover{
    color:#fff;
    background-color: #0980e8;
}

.skew{
    background-color: #0980e8;
    position: absolute;
    width: 179px;
    height: 30px;
    transform: rotate(40deg);
    top: 25px;
    right: -53px;
    z-index: 3;
}

.skew p{
    color: #f8f8f8;
    padding-top: 2px;
}

.foot{
    background-color:#f8f8f8;
    border-radius: 0 0 13px 13px;
}

.content{
    background-color: #fff;
}

.foot a{
    text-decoration: none;
    color: #f8f8f8;
}

.foot button{
    padding: 8px 25px;
    border-radius: 15px;
    background-color: #0980e8;
    border: none;
}

.foot button:hover{
    background-color:#0965b6;
}

.content{
    padding: 20px;
}

.content span{
    font-size: 40px;
    color: #0965b6;
    font-weight: 600;
}

.content sup{
    font-size: 20px;
    position: relative;
    top: -10px;
    color: #0965b6;
    font-weight: 500;
}

.content sub{
    font-size: 17px;
    font-weight: 100;
}

.content p{
    line-height: 40px;
    font-weight: 350;
}

.content p:nth-child(1){
    font-size: large;
    font-weight: 300;
}

/* .free .content p:nth-child(5),
.free .content p:nth-child(6){
    text-decoration: line-through;
    font-weight: 300;
}

.business .content p:nth-child(6){
    text-decoration: line-through;
    font-weight: 300;
} */

.strike{
    text-decoration: line-through;
    font-weight: 300;
    color:#d1d1d1;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}

.flex-item-3{
    flex: 25%;
}

@media screen and (max-width: 1124px){
    .flex-container{
        flex-direction: column;
    }
    .flex-item-3{
        width: 100%;
    }
}